<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Posture Tracking - Dashboard</title>

  <!-- style -->
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" />

</head>
<body ng-app="backbone_app">

  <% include ./partials/nav-bar.ejs %>
  Welcome, <%= user.first_name %>!

  <div ng-controller="sanity_check_ctrl">
    sanity check - did angular load? {{loaded}}
  </div>
  <br>

  <div ng-view></div>

  <!-- external js-->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.7.5/angular.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.7.5/angular-route.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.7.5/angular-resource.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.min.js"></script>
  <script src="//cdn.jsdelivr.net/angular.chartjs/latest/angular-chart.min.js"></script>

  <!-- custom js -->
  <script src="/static/client.js"></script>

</body>
</html>
